

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


:root {
	--grid-padding: 10px;
	--main-bg-dark-color:#33333d;
	--main-color: #c96567;

}

html, body {
	height: 100%;
	
}
#root {
	background-color: var(--main-bg-dark-color);
}

#container {
	width: fit-content;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.layout-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5,1fr);

	align-items: center;
	justify-items: center;
	width: 800px;
	height: 800px;


}

.styled-box {
	font-family: 'Poppins', sans-serif;
	padding: 20px;
	margin: 10px;
	border-radius: 1px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
	background-color: white;
	/* parameters from https://getcssscan.com/css-box-shadow-examples */
}

.task-button {
	border: none;
	cursor: pointer;	
	width: 90%;
	height: 90%;
	font-weight: bold;
	font-size: 20px;

}

.title {
	background:none;


	color: white;
	box-shadow: none;
}


button:hover,
button:focus {

}

button:focus {
	border: none;
	outline: none;
}

button:active {
    transform: scale(0.99);
}

