
:root {
	--grid-padding: 10px;
	--main-bg-dark-color:#1a1a1d;
	--main-color: var(#c96567);

}

html, body {
	height: 100%;
	
}
#root {
	background-color: #c96567;
}

#container {
	width: fit-content;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.layout-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5,1fr);

	align-items: center;
	justify-items: center;
	width: 800px;
	height: 800px;


}

.styled-box {

	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
	background-color: white;
	/* parameters from https://getcssscan.com/css-box-shadow-examples */
}

.task-button {
	width: 80%;
	height: 80%;
}

